/* Fake Google CSS*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

#container {
  width: 585px;
  margin: 140px auto 0;
  text-align: center;
}

h1#logo {
  width: 269px;
  height: 95px;
  background: url('images/google.png') top left no-repeat;
  background-size: 100%;
  text-indent: -9999px;
  margin: 0 auto;
}

input[type="search"] {
  width: 571px;
  padding: 10px; 
  margin: 28px 0 30px;
  border: solid 1px #ccc;
}

input[type="search"]:hover {
  border-color: #aaa;
}

input[type="submit"] {
  background: #eee;
  color: #777;
  border: solid 1px #eee;
  padding: 10px 15px;
  font-weight: bold;
  margin: 0 2px;
}

input[type="submit"]:hover {
  border: solid 1px #ccc;
  color: #333;
}

a:link, a:visited {
  color: blue;
}

#mainNav {
  text-align: right;
  padding: 20px;
}

#mainNav ul li{
  display: inline-block;
  vertical-align: center;
}

#mainNav ul li a:link,
#mainNav ul li a:visited,
footer ul li a:link,
footer ul li a:visited {
  text-decoration: none;
  padding: 5px;
}

#mainNav ul li a:link,
#mainNav ul li a:visited {
  color: #333;
}

footer ul li a:link,
footer ul li a:visited {
  color: #666;
}

#mainNav ul li a:hover,
footer ul li a:hover {
  text-decoration: underline;
}

#loginButton {
  border: none;
  background-color: #4285f4;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  color: #fff;
  font-weight: bold;
}

footer {
  background: #eee;
  position: fixed;
  border: solid 1px #ddd;
  bottom: 0;
  width: 100%;
}

footer nav{
  padding: 20px;
}

footer nav ul li {
  display: inline-block;
  padding: 0 10px;
}

footer nav ul {
  float: left;
}

footer nav ul.rightLinks {
  float: right;
  text-align: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}